body {
    background-color: rgb(245, 245, 245);
    font-family: Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

#sitename {
    font-size: 25px;
}

#siteheader {
    background-color: white;
    display: flex;
    margin: 0 auto;
    padding: .2em;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 2px solid #2b80ff;
}

#siteheader button {
    border: none;
    font-weight: bolder;
    background-color: #408dff;
    text-align: center;
    margin: 0;
    height: 2em;
    line-height: 2em;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    border-radius: 3px;
    font-size: 16px;
}

#siteheader a {
    padding: 0 .5em;
    text-align: center;
    font-size: 16px;
    margin: 0 2px;
    height: 2em;
    line-height: 2em;
    color: #408dff;
    text-decoration: none;

}

#siteheader a:hover {
    background-color: #2b80ff;
    border-radius: 3px;
    color: white;
}

.container {
    margin: 0 auto;
    max-width: 50em;
}

.profile {
    margin-bottom: 2em;
}

.post .whole_name {
    text-decoration: none;
    color: #2b80ff;
    font-size: 1.2em;
}

.post .date {
    font-size: 12px;
}

.whole_name:hover {
    text-decoration: underline;
}

.post {
    position: relative;
    margin-top: 8px;
    border: 1px solid rgb(214, 214, 214);
    background-color: white;
    border-radius: 5px;
}

.post .content {
    padding: .5em;
}

.post .info {
    display: inline-block;
}

.post .profile_picture {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    border: 1px solid #BBBBBB;
    display: inline-block;
    vertical-align: top;
    margin-right: 4px;
}

.post .messages {
    padding-top: 6px;
    padding-left: .5em;
    border-top: 1px solid #BBBBBB;

    margin: 0 auto;
    height: 32px;
}

.post:hover {
    background-color: #FAFAFA;
}

.post hr {
    margin: 0 auto;
}

.form {
    display: block;
}

.post-form {
    margin: 1em auto;
    padding: 0;
    display: flex;
    align-content: stretch;
}

.post-form textarea {
    border-radius: 3px 0px 0px 3px;
    width: 100%;
    margin: 0;
    background-color: white;
    border: 1px solid #BBBBBB;
    border-right: none;
    resize: none;
}

.post-form-button {
    background-color: #2b80ff;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 0;
    border: none;
    border-radius: 0 3px 3px 0;
    padding: 12px 10px;
}

.post .button {
    border-radius: 5px;
    background-color: rgb(222, 222, 222);
    display: inline-block;
    cursor: pointer;
    padding: 2px;
    box-sizing: border-box;
    height: 28px;
    vertical-align: top;
}

.post .button img {
    margin-top: 2px;
}

.post .button:hover {
    background-color: rgb(200, 200, 200);
}

.post .menu {
    float: right;
    cursor: pointer;
    height: 28px;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 5px;
}

.post .menu:hover {
    background-color: rgb(200, 200, 200);
    display: inline-block;

}

.post .date_button {
    font-size: 12px;
    cursor: pointer;
}

.post .date_button:hover {
    text-decoration: underline;
}

.blue {
    color: #408dff;
}

.gray {
    color: #aaaaaa;
}
