#sitename {
    font-size: 25px;
}

#siteheader {
    background-color: lightblue;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}


#siteheader a {
    margin: 0 1em;
    text-decoration: none;
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 50em;
}

.profile {
    margin-bottom: 2em;
}

.whole_name {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

.whole_name:hover {
    text-decoration: underline;
}

.post {
}

.post:hover {
    background-color: #FBFBFB;
}

.post hr {
    margin: 0 auto;
}

.form {
    display: block;
}
