{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "website/main.css" %}"></link>
</head>
<body>
<div class="container">
    <div id="siteheader">
        {% if logged_user %}
            <a href="/logout">Log out</a>
            <a href="/profile/{{logged_user.username}}">Profile</a>
            <a href="#">Settings</a>
        {% else %}
        <a href="/login">Login</a>
        <a href="/signin">Sign in</a>
        {% endif %}
        
        <a href="/">Timeline</a>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>
