{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Social network</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="stylesheet" href="{% static "website/main.css" %}"/>
    <script src="{% static "website/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static 'website/main.js' %}"></script>
    <script>
        let img_thumb_up = "{% static "images/thumb_up.png" %}";
        let img_thumb_down = "{% static "images/thumb_down.png" %}";
        let img_thumb_up_n = "{% static "images/thumb_up_n.png" %}";
        let img_thumb_down_n = "{% static "images/thumb_down_n.png" %}";
    </script>
</head>
<body>
<div id="siteheader">
    <div id="content">
        <button href="/profile/{{ logged_user.user.username }}">Profile</button>
        <button href="#">Settings</button>
        <button class="special" onclick="displayPostForm()">New post</button>
        <button href="/">Timeline</button>
        <button href="/logout">Log out</button>

        <div class="absolute right" style="display:inline-block;">
            {{ logged_user.user.username }}
            <div class="profile_picture"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="content">
        <form action="/post" method="POST" id="post-form" style="display: none;">
            {% csrf_token %}
            <textarea id="post-area" name="text"></textarea>
            <input type="submit" class="button" value="Send">
        </form>
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>
