{% extends 'website/index.html' %}
{% load static %}

{% block content %}

    {% block profile %}
    {% endblock %}

    {% for post in posts %}
        <div class="post">
            <div class="profile_picture"></div>
            <div class="info">
                <a class="whole_name"
                   href="/profile/{{ post.author.user.username }}">{{ post.author.user.get_full_name }}</a><br/>
                <a class="date">{{ post.date }}</a>
            </div>
            <p>{{ post.content }}</p>
            <div class="messages">
                <img src="{% static "images/thumb_up_n.png" %}" width="20"> 0
                <img src="{% static "images/thumb_down_n.png" %}" width="20"> 0
            </div>
        </div>
    {% endfor %}
{% endblock %}
