{% extends 'website/social.html' %}
{% load static %}
{% load timeline %}

{% block content %}

    {% block profile %}
    {% endblock %}

    {% for post in posts %}
        <div class="post" id="post_{{ post.id }}" postid={{ post.id }}>
            <div class="content">
                <div class="profile_picture"></div>
                <div class="info">
                    <a class="whole_name"
                       href="/profile/{{ post.author.user.username }}">{{ post.author.user.get_full_name }}</a><br/>
                    <a class="date">{{ post.date }}</a>
                    {% if post.author != logged_user %}
                        {% if post.author|followed_by:logged_user == False %}
                            <a class="date_button blue" name="flw_{{ post.author.user.username }}"
                               onclick="sendFollow('{{ post.author.user.username }}', 0);">Follow</a>
                        {% else %}
                            <a class="date_button gray" name="flw_{{ post.author.user.username }}"
                               onclick="sendFollow('{{ post.author.user.username }}', 1);">Unfollow</a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="menu"><img src="{% static "images/menu.png" %}" width="20"></div>
                {% autoescape off %}
                    <p>{{ post.content|add_tags }}</p>
                {% endautoescape %}
            </div>
            <div class="reactions">
                {% if post|thumb_value:logged_user == 0 %}
                    <div class="button g_used" onclick="sendThumb(this, {{ post.id }}, -1);"><img
                            src="{% static "images/thumb_up.png" %}" width="20"> <label>{{ post.get_thumbs_up }}</label>
                    </div>
                {% else %}
                    <div class="button" onclick="sendThumb(this, {{ post.id }}, 0);"><img
                            src="{% static "images/thumb_up_n.png" %}" width="20">
                        <label>{{ post.get_thumbs_up }}</label>
                    </div>
                {% endif %}
                {% if post|thumb_value:logged_user == 1 %}
                    <div class="button r_used" onclick="sendThumb(this, {{ post.id }}, -1);"><img
                            src="{% static "images/thumb_down.png" %}"
                            width="20"> <label>{{ post.get_thumbs_down }}</label></div>
                {% else %}
                    <div class="button" onclick="sendThumb(this, {{ post.id }}, 1);"><img
                            src="{% static "images/thumb_down_n.png" %}"
                            width="20"> <label>{{ post.get_thumbs_down }}</label></div>
                {% endif %}
                <div class="button" onclick="commentOnPost({{ post.id }})"><img src="{% static "images/messages.png" %}"
                                                                                width="20"> {{ post.get_message_count }}
                </div>

            </div>
        </div>
    {% endfor %}
{% endblock %}
